@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body
{
    margin: 0px;
    font-family: "roboto", sans-serif;
}


/* Header */

.header
{
    display: flex;
    width: 100%;
    background-color: #1F2937;
    justify-content: space-around;
    color: whitesmoke;
}

ul
{
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: small;
}


/* Row 1 */

.row1
{
    display: flex;
    background-color: #1F2937;
    color: whitesmoke;
    padding: 90px;
}

.row1_text h1
{
    font-weight: 900;
}

.row1_text p
{
    font-size: small;
}

.button
{
    background-color: #3882F6;
    color: whitesmoke;
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-weight: 800;
}

.row1_image
{
    width: 100%;
    height: auto;
    background-color: grey;
    text-align: center;
    padding-left: 30px;
}


/* Row 2 */

.row2_heading
{
    text-align: center;
}

.row2_heading h1
{
    font-weight: bolder;
}

.row2
{
    padding: 25px 0px 70px;
    display: flex;
    gap: 15px;
    justify-content: center;    
}

.row2_1i
{
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 15px;
}

.row2_1t
{
    width: 150px;
    font-size: smaller;
    text-align: center;
}


/* Row 3 */

.quote
{
    background-color: #E5E7EB;
    padding: 50px 200px;
    text-align: right;
}

.quote_1
{
    text-align: left;
    font-size: 24px;
    font-style: italic;
}


/* Row 4 */

.bluebox
{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 80px 150px;
    border-radius: 10px;
    color: whitesmoke;
}

.bluebox_t
{
    padding: 25px 30px 15px 60px;
}

.bluebox_t h4
{
    margin: 0px 0px;
    padding: 0px 0px;
    font-weight: 800;
}

.bluebox_t p
{
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: small;
}

.bluebox_b button
{
    background-color: #3882F6;
    border-radius: 5px;
    border-color: whitesmoke;
    color: whitesmoke;
    padding: 3px 15px;
    margin: 30px 60px;
    border-style: solid;
}


/* Footer */

